<html>
  <head>
  <meta http-equiv="refresh" content="30">
  <title>Lyrics AI</title>
  <meta charset="utf-8">

  <style>
    body {
	background-color: black;
	color: white;
	font-family: Courier;
    }
    
    .box {
	width: 95%;
	height: 45%;
	margin: 2.5% auto;
	border: solid white 2px;
	padding-left: 20px;
    }

    .lyric {
	font-size: 4vh;
    }

    .label {
	font-size: 5vh;
	font-weight: bold;
	line-height: 40%;
    }

    #lyric_out {
	color: #a1ffa1;
    }
  </style>  
</head>

{% autoescape false %}
<div class="box">
  <p class="lyric" id="lyric_in">{{ web_content.lyric_in }}</p>
  <p class="lyric" id="lyric_out">{{ web_content.lyric_out }}</p>
  <p class="label">🎤: {{ web_content.artist }}</p>
  <p class="label">🎵: {{ web_content.song_title }} | 💿: {{ web_content.album }}</p>
</div>
<div class="box">
  <p class="lyric" id="lyric_in">{{ web_content.lyric_in }}</p>
  <p class="lyric" id="lyric_out">{{ web_content.ai_out }}</p>
  <p class="label" id="ai-text">Lyric AI</p>
</div>
{% endautoescape %}
</html>
